.body {
    margin: 0;
    padding: 0;
}

.table2 td {
    padding: 20px ; 
}

.box1 {
    background-color: darkred; 
    text-align: center;
}

.box2 {
    background-color: deeppink; 
    text-align: center;
}

.box3 {
    background-color: brown; 
    text-align: center;
}
p {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #3d3d3d; 
}

.box_text_color {
    color: white; 
    padding: 10px; 
    margin: 0;
}



.td_image_width  {
    width: 570px; 
    height: 400px; 
    display: block; 
}




